html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-family: SpaceGrotesk,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

body{
  color: #021836;
}


input {
  margin: 5px;
  padding: 5px;
}

.button-primary {
    background-color: #021836;
    border-color: #021836;
    color: #ffffff;
    border-style: "solid";
    border-radius: 3.75px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3.75px;
}


.product-grid {
  display: "grid";
  grid-template-columns: "repeat(auto-fill, minmax(150px, 1fr))";
  gap: "10px";
}

.product-item {
  border: "1px solid #ccc";
  padding: "10px";
  border-radius: "5px";
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
}

.product-item-button {
  padding: "2px 5px";
  font-size: "0.8rem";
  background-color: rgb(182, 201, 201);
  border-radius: "5px";
}